/* Простая, контрастная палитра */
$black: #0a0a0a;
$white: #ffffff;
$red:   #e60023;  /* акцент */
$beige: #FEFCF7;
$main: #D4CBC0;

/* Радиальный градиент для текста */
$text-gradient: radial-gradient(circle farthest-corner at center,
  #ffffff 0%,
  #ffc8cd 100%
);


$padding: 1rem;
$border-radius-lg: 20px;
$border-radius-xl: 50px;
/* Контейнер + сетка */
$max-w: 1600px;
$bp-md: 900px;
$bp-sm: 700px;
$burger-width: 18px;
/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
$font-sans: "Cormorant Garamond", serif;

/* Тени/скругления */
$radius-xl: 24px;
$shadow-lg: 0 20px 60px rgba(0,0,0,.12);


$transition: all 0.3s ease-in-out;