@use "./variables"as *;
@use "./mixins"as *;

/* Сброс покороче */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    min-height: 100%;
}

body {
    font-family: $font-sans;
    color: $black;
    background: $beige;
    max-width: $max-w;
    margin: 0 auto;
}

#app {
    margin: 0 auto;
}

/* Утилитарные вещи */
.container {
    width: min(100% - 2rem, $max-w);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $padding;
    padding: $padding;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    padding: .9rem 1.2rem;
    border-radius: $border-radius-xl;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid transparent;
    background: $main;
    color: $black;
    transition: $transition;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-lg;
    }

    &--ghost {
        background: transparent;
        color: $black;
        border-color: $black;

        &:hover {
            background: $main;
        }
    }
}

/* Заголовки */
h1 {
    font-size: clamp(2.4rem, 2.2rem + 2vw, 3.8rem);
    line-height: 1.1;
    margin: 0 0 1rem;
}

h2 {
    font-size: clamp(1.8rem, 1.6rem + 1.2vw, 2.6rem);
    line-height: 1.2;
    margin: 0 0 .75rem;
}

p {
    font-size: clamp(1rem, .95rem + .4vw, 1.125rem);
}

/* Текст-градиент */
.text-gradient {
    background: $text-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Секции */
section {
    padding: $padding*3 0;
    display: flex;
    justify-content: center;
    gap: $padding;

    @media (max-width: $bp-sm) {
        padding: 56px 0;
    }

    &.dark .container {
        background: $black;
        border-radius: $border-radius-xl;
        color: $white;
        text-align: center;

        .btn:hover {
            box-shadow: .3rem .3rem .5rem rgba($white, 0.5);
        }

        .btn--ghost {
            background: $white;
        }
    }
}

/* templates */


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;

    @media (max-width: $bp-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $bp-sm) {
        grid-template-columns: 1fr;
    }
}

.grid-2 {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: $bp-sm) {
        grid-template-columns: 1fr;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Хедер */
.header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid $beige;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-variant: all-small-caps;
        height: 64px;
        padding: $padding;

        /* --- БУРГЕР-КНОПКА --- */
        .nav-toggle {
            display: none; // по умолчанию скрыта (десктоп)
            width: 40px;
            height: 40px;
            border-radius: $border-radius-xl;
            border: 1px solid rgba(0, 0, 0, .15);
            background: transparent;
            cursor: pointer;
            padding: 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4px;

            span {
                display: block;
                width: $burger-width; // например, 18px
                height: 2px;
                border-radius: 999px;
                background: $black;
                transition: $transition;
            }

            &.nav-toggle--open {
                span:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }

        .logo {
            text-decoration: none;
            color: $black;
            font-size: 20px;

            @media screen and (min-width:$bp-sm) {
                font-size: 30px;
            }
        }

        .nav {
            display: flex;
            gap: 1rem;

            a {
                color: $black;
                text-decoration: none;
                font-weight: 600;
                font-size: 1.4rem;
                @include after_abs;

                &::after {
                    background: $main;
                    width: 0;
                    height: 0;
                    border-radius: $border-radius-lg;
                    padding: 0;
                    transition: $transition;
                }

                &:hover,
                &.active {
                    &::after {
                        width: 100%;
                        padding: 0.2rem;
                        height: 100%;
                    }
                }
            }
        }

        .lang-switcher {
            display: flex;
            flex-wrap: wrap;
            gap: 2px;

            @media screen and (min-width:$bp-sm) {
                gap: 4px;
            }

            .pill {
                width: 30px;
                height: 30px;
                opacity: .7;
                border-radius: $border-radius-xl;
                border: 1px solid rgba(0, 0, 0, .15);
                cursor: pointer;
                transition: $transition;

                @media screen and (min-width:$bp-sm) {
                    width: 40px;
                    height: 40px;
                }



                &.active {
                    opacity: 1;
                    color: $white;
                    border-color: currentColor;
                    font-weight: 600;
                    background: $black;
                }

                &:hover {
                    background: $main;
                    color: $black;
                }
            }
        }

        /* --- Мобилька --- */
        @media (max-width: 700px) {
            .nav {
                position: absolute;
                inset-inline: 0;
                top: 64px;
                padding: 0.75rem $padding;
                background: rgba(255, 255, 255, .95);
                backdrop-filter: blur(12px);
                border-bottom: 1px solid $beige;

                display: none; // по умолчанию спрятано
                flex-direction: column;
                gap: .5rem;

                a {
                    padding: .4rem 0;
                }

                &.nav--open {
                    display: flex;
                    align-items: center;
                }
            }

            /* показываем бургер на мобилке */
            .nav-toggle {
                display: inline-flex;
            }

            /* немного подвигаем переключатель языков ближе к бургеру */
            .lang-switcher {
                margin-left: .5rem;
            }
        }
    }
}



.hero {
    .title {
        display: flex;
        flex-direction: column;
    }

    .container {
        text-align: center;

    }
}


/* Карточка */
.card {
    // border: 1px solid $main;
    border-radius: $radius-xl;
    background: $main;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .04);
    overflow: hidden;
    position: relative;

    &:hover {
        .card__title {
            right: $padding;
            left: 20%;
            text-align: right;

            &::after {
                border-radius: $border-radius-lg 0 0 $border-radius-lg;
                right: - $padding;

            }
        }
    }

    img {
        display: flex;
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    .card__title {
        position: absolute;
        top: 50%;
        left: $padding;
        right: 20%;
        z-index: 1;
        transition: $transition;

        &::after {
            content: '';
            backdrop-filter: blur(8px);
            height: 44px;
            background: rgba($main, 0.5);
            position: absolute;
            inset: 0;
            transition: $transition;
            z-index: -1;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: calc(100% + 2*$padding);
            border-radius: 0 $border-radius-lg $border-radius-lg 0;
        }
    }

    &_text {
        padding: $padding;
    }
}

.footer {
    .container {
        text-align: center;
    }
}